@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

nav{
    font-family: Roboto;
    font-weight: light;
    font-size: 18px;
    background-color: #f0f0f0;
}
a{
    text-decoration: none;
    font-family: Roboto;
    color: rgb(22, 22, 22);
}
a:hover{
    color: rgb(252 24 97) !important
}
span{
    color: rgb(22, 22, 22);
    font-family: Roboto;
    font-weight: 100;
    margin-left: 10px;
}
i{
    font-size: 30px;
}
form{
    font-family: Roboto;
    margin-top: 10px;
}
form div{
    margin-bottom: 10px;
}
#home-title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: rgb(22, 22, 22);
    display: flex;
    justify-content: center;
    margin-top: 80px;
    background-color: #f0f0f0;
}
#to-visit-img{
    max-width: 500px;
}
#carousel img{
    border-radius: 15px;
    
}
#traveller-title{
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    margin-left: 68px;
    color: rgb(252 24 97)
}
#title-search{
    margin-top: 40px;
    padding-bottom: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: rgb(22, 22, 22);
}
#img-place-info{
    width: 800px;
    margin-bottom: 20px;
}
.search-home{
    display: flex;
    padding-left: 10px;
}
.width-input{
    width: 300px;
}
.user-example{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: rgba(22, 22, 22, 0.658);
}
.align-search{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.width-search{
    width: fit-content;
}
.color-button{
    background-color: rgb(252 24 97);
    color: white;
}
.color-principal{
    color: rgb(252 24 97);
}
.search-result{
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    margin-top: 30px;
    padding-top: 10px;  
}
.place-img{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 50px;
}
.flex{
    display: flex;
}
.place-info{
    /* display: flex;   */
    margin-top: 10px;
}
.title-place-info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
.place-info li{
    font-weight: 700;
}
.button-info{
    margin-top: 20px;
    margin-left: 50px;
    padding-left: 100px;
    display: flex;
}
.button-info button{
    margin: 20px;
    border-radius: 15px;
    width: 140px;
}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.footer p{
    font-family: Roboto;
    margin: 10px;
    color: rgb(22, 22, 22);
}
.footer i{
    margin: 10px;
}
.msg{
    font-family: Roboto;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: rgb(252 24 97);
    margin-top: 10px;
}
.cards-center{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.card-body a{
    display: flex;
    justify-content: center;
}
.card-body p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(22, 22, 22)
}
.border-none{
    border:none;
}
.card-my-page-img{
    height: 400px;
    object-fit: cover;
    margin-top: 30px;
}
.card-img{
    height: 300px;
    object-fit: cover;
    margin-top: 20px;
}
.title-profile-pages{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: rgb(22, 22, 22);
    background-color: #f0f0f0;
    margin-top: 10px;
}
.buttons-to-visit-page{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 1050px) {
    #img-place-info{
        width: 400px;
    }
    .flex{
        display: inline;
    }
    .button-info{
        display: flex;
    }
    .place-info{
        display: block;
    }
    .button-info button {
        font-size: 15px;
    }
    .place-info ul{
        font-size: 15px;
    }
    .title-place-info{
        font-size: 20px;
    }
}
@media (max-width: 500px) {
    #home-title{
        font-size: 15px;
    }
    
    #title-search{
        font-size: 20px;
        text-align: center;
    }
    #img-place-info{
        width: 300px;
    }
    .footer{
        margin-top: 150px;
        font-size: 13px;
    }
    .button-info{
        flex-direction: column;
    }
    .card-my-page-img{
        height: 200px;
    }
    .card-body p{
        font-size: 15px;
    }
    .card-body a{
        font-size: 13px;
        height: 50px;
        display: flex;
        align-items: center;
    }
    .title-profile-pages{
        font-size: 20px;
    }
    .card-img{
        height: 200px;
    }
    .card-body li{
        font-size: 15px;
    }
    .card-body button{
        font-size: 14px;
    }
}
