<p class="title-profile-pages">My page</p>
<div class="row">
    <div class="col-6 cards-center">
    <div class="card border-none" style="width: 18rem;">
        <img class="card-img-top card-my-page-img" src="https://i.pinimg.com/originals/97/6e/bd/976ebd2be1e26d3253c502a556ba702f.jpg" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">My pending trips</p>
        <a href="/profile/to-visit" class="btn color-button" >To visit</a>
        </div>
    </div>
</div>

<div class="col-6 cards-center">
    <div class="card border-none" style="width: 18rem;">
        <img class="card-img-top card-my-page-img" src="https://wallpaper.dog/large/20505268.jpg" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Remember my trips</p>
        <a href="/profile/already-visited" class="btn color-button" >Already Visited</a>
    </div>
    </div>
</div>
</div>

